h5 După aproape 4 ani de activitate, Carol 53 se dezvoltă ca un hub de ateliere creative, punând la dispoziție o parte din spațiile casei, pe perioade determinate de timp, unor persoane sau grupuri ce doresc să dezvolte proiecte cu impact în dezvoltarea social-culturală a orașului.
h5 În prezent, ne bucurăm că alături de noi își desfășoară activitatea un colectiv de aproximativ 10-15 persoane din diverse domenii precum arhitectură, artă decorativă, meșteșug, ecologie, teatru, muzică, pictură și serigrafie.

.row.schedule__container
  .col-xs-12
    p Atelierele din Carol 53 își deschid porțile și vă invită la Noaptea Caselor să descoperiți o expoziție organizată de către o parte dintre artiștii din casă, împreună cu prietenii și invitații lor.
    p La parter expun, între orele 19:00-23:00:
    p Grafică, pictură și animație – Daniel Alexandru, Andreea Toma, George Vasilescu, Irina Maria Iliescu, Iolanda Boban, Wood be Nice, Atelier Șnur.
    p În anexa din curte, între orele 21.00-2.00: Galeria de multiple – Atelierul de Serigrafie de pe lângă Librăria ”Jumătatea Plină” - Octav Avramescu.
    p Prin casă și curte: Instalație și performance -JULAY &amp; Renate.
