h5 Colivia e un spațiu hibrid - un experiment locativ și, mai nou, lucrativ: Daniel Vrăbioiu împarte spațiul personal cu Funky Citizens, un grup care muncește zi de zi pentru ca drepturile tale de cetățean să fie respectate. Vino să ne cunoști proiectele ca să pleci cu senzația că se poate să resetăm sistemul ăsta corupt și disfuncțional. Idei există, e nevoie de oameni implicați.

.row.schedule__container
  .col-xs-12.col-sm-6.col-md-6
    ul.schedule
      li.schedule__item
        p.schedule__item__hours 17:30 - 19:30
        p.schedule__item__title Turist În bucurești: tur ghidat prin cartier
        p.schedule__item__description ia-ți aparatul foto și încălțările comode și hai la o tură de oraș cu Cristi Radu de la Rezistența Urbană. Cristi documentează poveștile nevăzute ale Bucureștiului din 2007 și-și dorește o capitală modernă care contruiește pe trecutul ei. Critic (constructiv) al autorităților, Cristi susține transportul ecologic, transportul alternativ, spațiile publice incluzive, prezervarea patrimoniului vechi construit și punerea lui în valoare. Lasă-l pe Cristi să te plimbe pe străzile de la limita cartierelor evreiesc și armenesc și să-ți vorbească despre de ce ne e așa drag Bucureștiul ăsta. Cele 20 locuri disponibile se alocă pe principiul „primul venit, primul servit”. Dăm drumul înscrierilor peste câteva zile, anunțăm aici, pe event.
      li.schedule__item
        p.schedule__item__hours 23 - 01
        p.schedule__item__title Guest-star la bar: tăușance
        p.schedule__item__description Vlad Tăușance lasă pentru două ore laptopul și telefonul deoparte și se întoarce la primul lui job din București: cel de barman. Veți avea ocazia să vedeți cum toarnă bere în 10 stiluri inovative un trainer în creativitate, dar cum te ajută o strategie de comunicare solidă să optimizezi bacșișul. Conversația este opțională. Nu, nu facem Sex on The Beach.
      li.schedule__item
        p.schedule__item__title Selfie cu oprescu
        p.schedule__item__description Muzeul Istoriilor Curente n-ar fi complet fără o lucrare care să marcheze momentul arestării preventive a primarului general Sorin Oprescu. Ramon Sadîc vine cu un mare stencil cu Oprescu + jandarm și te invită să te tragi în poză cu el.

      li.schedule__item
        p.schedule__item__title Degustare de licori și Zacuscă făcute În casă
        p.schedule__item__description Ne place diversitatea la fel cum ne plac feluritele tării locale și mâncarea făcută după rețete tradiționale, fiecare cu specificul ei local. Le-am cerut mamelor și bunicile noastre rețetele de zacuscă și ne-am pus pe produs pentru că suntem gospodari. Bahic vorbind ne susținem cu o selecție fină de vișinată, afinată, zmeurată și cornată, produse de Daniel Vrăbioiu după rețeta țăranului român, adică fără zahăr, cu miere. Bonus: avem și sirop de cătină. Susține și tu mișcarea, vino să vezi ce bine au ieșit.

  .col-xs-12.col-sm-6.col-md-6
    ul.schedule
      li.schedule__item
        p.schedule__item__title muZică: YoZness
        p.schedule__item__description Pentru că e petrecere și pentru că gazdă, Cosmin a pregătit un mix care să te bage mai bine în filmul voios al Coliviei.
      li.schedule__item
        p.schedule__item__title salonul luminat
        p.schedule__item__description Cea mai impresionantă cameră e salonul interbelic, în care te întâmpină de cum ai intrat Norbert, un mare nor ce coboară din tavan. Te poți juca cu luminile grație becurilor inteligente de la LiFX, controlând de pe un touchscreen intensitatea și nuanța culorilor becurilor cu LED. Bonus: o proiecție mapată pe șemineul din capătul salonului, pentru o ambianță de-a dreptul fantastică.
      li.schedule__item
        p.schedule__item__title bucurești la bani mărunȚi
        p.schedule__item__description Relansăm „Bani Pierduți” - proiectul Funky Citizens de demistificare a banilor publici (buget la care contribuim cu toții). Expunem scurt/2 cifrele esențiale despre București, oraș cu un buget de circa un miliard de euro.
      li.schedule__item
        p.schedule__item__title sticKere de colecȚie cu „mari corupȚi”
        p.schedule__item__description Ne seacă tot ce-i monoton, ne place să dăm culoare subiectelor serioase precum corupția. I-am imortalizat pe 20 dintre marii corupți ai țării (condamnați definitiv) și i-am pus pe piață pentru a fi colecționați. I-am listat frumos pe toți pe www.maricorupti.ro, și ne pregătim și de un joc de cărți inspirat din același univers al corupției românești.