h5 La început a fost un apartament pus la comun, folosit pentru lucru și joacă de un grup de vreo 30 de prieteni. Apoi, spațiul s-a deschis pentru prietenii prietenilor și, în timp, prietenii prietenilor prietenilor. La seri de film, serate dansante și evenimente culturale diverse, s-a legat o comunitate informală care a depășit rapid capacitatea spațiului și de înțelegere a vecinilor.

.row.schedule__container
  .col-xs-12.col-sm-6.col-md-4
    ul.schedule
      li.schedule__item
        p.schedule__item__hours 22:00
        p.schedule__item__title Concert
      li.schedule__item
        p.schedule__item__hours 00:00 – 00:30
        p.schedule__item__title Concert nocturn
      li.schedule__item
        p.schedule__item__hours 23:00
        p.schedule__item__title Teatru

  .col-xs-12.col-sm-6.col-md-4
    ul.schedule
      li.schedule__item
        p.schedule__item__hours 21:00 - 22:00
        p.schedule__item__title Povestea Mahalalei Mătăsari
        p.schedule__item__description Tur ghidat pietonal
      li.schedule__item
        p.schedule__item__hours 21:00
        p.schedule__item__title Traseu-cultural
        p.schedule__item__description Strada Mătăsari – Strada Matei Voievod – Strada Mecet – Strada Agricultori - Strada Mătăsari. Asociația Română pentru Cultură, Educație și Normalitate – ARCEN

  .col-xs-12.col-sm-6.col-md-4
    ul.schedule
      li.schedule__item
        p.schedule__item__hours 21:00 - 3:00
        p.schedule__item__title Expozitie-Vernisaj
      li.schedule__item
        p.schedule__item__hours 21:00 - 3:00
        p.schedule__item__title limonadă, ceaiuri din grădina bunicii, vin fiert, pălincă de bistrița
